@import '~bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}

body {
  background-color: #ECF4D6;
  font-family: monospace;
  font-size: 16px;
  font-weight: lighter;
  color: #092635;
}

.container {
  display: grid;
  align-items: start;
  justify-items: center;
  overflow-wrap: break-word;
  padding: 0 2em;
}

.container-column {
  max-width: 80%;
}

.section {
  display: inline-block;
}

.fit-picture {
  /* max-width: 10%; */
  width: 60px;
  max-height: 100vh;
  height: auto;
  border-radius: 50%;
}

.navigationMenu {
  position: fixed;
  top: 10%;
  right: 2%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #092635;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.scroll-to-top-button.visible {
  display: block;
}

Link {
  text-decoration: none;
}

.btn-home {
  /* button settings */
  width: 200px;
  height: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 70%;
  background-color: #092635;
  /* font settings */
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: box-shadow 0.1s ease;

  /* Responsive styles using media queries */
  @media (max-width: 767px) {
    width: 175px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

#navigation-bar {
  background-color: #1B4242;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* height: 5vh; */
}

.navigation-bar-link {
  margin-left: 2%;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#navigation-bar a {
  text-decoration: none;
  padding: 10px;
}

.hover-box-shadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.hover-text-shadow:hover {
  text-shadow: #fc0 1px 0 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5C8374;
  color: white;
  padding: 10px;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.contact-columns {
  display: flex;
  align-items: center;
}

.contact-column {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-link {
  color: #0F0F0F;
  text-decoration: none;
}

.footer-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px 3px 5px;
}

.bold-text {
  font-weight: bold;
}

.title {
  justify-items: center;
  display: grid;
  border-style: double;
  text-shadow: #9EC8B9 2px 3px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.sub-title {
  font-style: italic;
  text-shadow: #9EC8B9 2px 3px;
  text-align: center;
  text-transform: capitalize;
  /* margin-left: 30px; */
}

li {
  list-style-type: circle;
  padding: 10px;
}

strong {
  font-weight: 900;
  color: #8b0000;
}

.license-link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
}

.no-decoration {
  color: #5C8374;
  text-decoration: none;
}

.left-align {
  text-align: left;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 2px;
  padding: 2px;

}

.return-to-projects-button {
  display: block;
  align-items: center;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #092635;
  border-radius: 10px;
  color: white;
  padding: 10px;
}