@import '~bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}

body {
  font-family: monospace;
  font-size: 14px;
  font-weight: lighter;
}

.fit-picture {
  /* max-width: 10%; */
  width: 60px;
  max-height: 100vh;
  height: auto;
}

#banner-text{
  max-width: 100%;
  text-align: center;
}

.navigationMenu {
  position: fixed;
  top: 10%;
  right: 2%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.scroll-to-top-button.visible {
  display: block;
}

Link {
  text-decoration: none;
}

.btn-home {
  /* button settings */
  width: 200px;
  height: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 70%;
  background-color:dodgerblue;
  /* font settings */
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: box-shadow 0.1s ease;
  /* Responsive styles using media queries */
  @media (max-width: 767px) {
    width: 175px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

#navigation-bar {
  background-color:dodgerblue;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* height: 5vh; */
}

.navigation-bar-link {
  margin-left:2%;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

#navigation-bar a {
  text-decoration: none;
  padding: 10px;
}

.hover-box-shadow:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.hover-text-shadow:hover{
  text-shadow: #fc0 1px 0 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  text-align: center;
}

footer img {
  border-radius: 50%;
}

.contact-columns {
  display: flex;
  align-items: center;
}

.contact-column {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-link {
  color:azure;
  text-decoration: none;
}

.bold-text{
  font-weight: bold;
}